# 1.Characteristics of tuple

""" Tuples are ordered, it is unchangable and allow duplication.
Tuple is immutable as it do not allow any changes of an element in a particular index """

# 2.Two Tuple method of phython

In [1]:
count()
index()

NameError: name 'count' is not defined

In [2]:
t=(1,3,2,"star", "moon")
t.count(3)

1

In [3]:
t.index(2)

2

""Tuple has only 2 inbuilt method (only count,index) whereas list has so many inbuilt function .As tuple cant able to make any change or update it has only two inbuilt function ""

### Qn 3

In [13]:
##Set is the datatype which do not duplicate items in python
s1 = {1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4}

In [14]:
s1

{1, 2, 3, 4}

### Qn 4

In [ ]:
Update() update a set with another set,its just an update with set.Union() unites both set together,its a combination of two sets.Both have similar result

In [4]:
## eg of update()
s1={1,2,"apple","orange",45}
s2={4,5,6,"berry","choco"}

In [5]:
s1.update(s2)

In [6]:
s1

{1, 2, 4, 45, 5, 6, 'apple', 'berry', 'choco', 'orange'}

In [7]:
s1.union(s2)

{1, 2, 4, 45, 5, 6, 'apple', 'berry', 'choco', 'orange'}

In [8]:
s1

{1, 2, 4, 45, 5, 6, 'apple', 'berry', 'choco', 'orange'}

In [9]:
s2

{4, 5, 6, 'berry', 'choco'}

### Qn 5

In [10]:
Dictionary is a collection of set which contains keys and values. In dictionary the keys must be unique ie.,do not have any repitative keys
also dictionaary is ordered.

SyntaxError: invalid syntax (4193915303.py, line 1)

In [27]:
## eg
d={"name":"pradeep","class":10,"marks":90}

### Qn 6

In [ ]:
Nested dictionary can be created within a dictionary

In [23]:
## eg
person={1:{"name":"sujan","aim":"doctor","salary":100000},2:{"salary":"deepthi","salary":250000}}

In [24]:
person

{1: {'name': 'sujan', 'aim': 'doctor', 'salary': 100000},
 2: {'salary': 250000}}

### Qn 7

In [3]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict2={'topic':['python','machine language','deep learning']}

In [4]:
dict1.update(dict2)

In [5]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topic': ['python', 'machine language', 'deep learning']}

### Qn 8

In [ ]:
Three view objects in dictionaries are "keys,values and items".

In [20]:
dict3= {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [19]:
dict3.keys()

dict_keys(['Sport', 'Teams'])

In [21]:
dict3.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [22]:
dict3.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])